<template id="x-ticking-paragraph">
    <style>
        p {
            color: #42b983;
        }
    </style>
    <p id="renderTarget">
    </p>
</template>

<script>
    const currentScript = document.currentScript;

    customElements.define('x-ticking-paragraph', class extends HTMLElement {
        static get observedAttributes() {
            return ['contents']
        }

        constructor() {
            super();
            let shadowRoot = this.attachShadow({
                mode: 'open'
            });
            const template = currentScript.ownerDocument.querySelector('#x-ticking-paragraph');
            const instance = template.content.cloneNode(true);
            shadowRoot.appendChild(instance);

            this.contents = '';

            setInterval(() => {
                this.dispatchEvent(new Event('tick'));
            }, 500);
        }

        set contents(value) {
            this._contents = value;
            this.shadowRoot.getElementById('renderTarget').innerText = this._contents;
        }

        get contents() {
            return this._contents;
        }

        attributeChangedCallback(name, oldValue, newValue) {
            this[name] = newValue;
        }
    });
</script>