<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    {% seo %}

    {% if site.google_analytics %}
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
    </script>
    {% endif %}

    <!-- These lines help browsers find the blogs feeds -->
    <link title="{{ site.title }} Atom" type="application/atom+xml" rel="alternate" href="{{ site.url }}/atom.xml" />
    <link title="{{ site.title }} RSS" type="application/rss+xml" rel="alternate"  href="{{ site.url }}/rss.xml"   />

    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.11/lodash.min.js"></script>

    <script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous">
    </script>

    <script
        type="application/javascript"
        src="https://unpkg.com/@webcomponents/webcomponentsjs@2.1.3/webcomponents-bundle.js"
        crossorigin="anonymous">
    </script>

    <script src="https://unpkg.com/hybrids/dist/hybrids.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <script
        type="text/javascript"    
        src="/assets/main.js">
    </script>

    <script 
        type="module" 
        src="/assets/modules/index.mjs">
    </script>
    
    <link 
        rel="stylesheet" 
        href="{{ '/assets/style.css?v=' | append: site.github.build_revision | relative_url }}">

    <script id="data-model" type="application/json">
        {{ site.data.me | jsonify }}
    </script>

    {% for view in site.views %}
    {% if view.type == 'x-template' %}

    <script type="text/x-template" id="{{ view.selector }}">
        {{ view.content }}
    </script>

    {% endif %}
    {% endfor %}
    
    
</head>