{% assign views = (site.views | where:"ext",".html") | sort: 'order' %}
<ul>
    {% for view in views %}
    {% if view.order == 0 %}
    {% else %}
    <li>
        <a href="/#"></a>
        <router-link to="{{ view.permalink }}">{{ view.title }}</router-link>
    </li>
    {% endif %}
    {% endfor %}
    <li>
        <a href="#blog/fooey">Tester</a>
    </li>
    <li>
        <a href="#nonsense">Nonsense</a>
    </li>
    <li>
        <router-link to="/foo">Go to Foo</router-link>
    </li>
    <li>
        <router-link to="/bar">Go to Bar</router-link>
    </li>
    
</ul>
