$blue: rgb(61, 146, 201);
$white: #fff;
$color_3: rgb(176, 202, 219);
$color_4: #aaa;
$color_5: #222;
$color_6: #444;
$color_7: #999;
$color_8: #ccc;
$font_family_1: Georgia, "Cambria", serif;