<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
{% include head.html %}

<body>
    {% raw %}
    <template id="thingy">
      <p>Hello there</p>
    </template>
    {% endraw %}
  <div id="belly">

    <a id="skip-to-content" href="#content">Skip to the content.</a>

    {% include header.html %}

    <main id="content" class="main-content" role="main">
      
        {% for view in site.views %}
        {% if view.type == 'i-template' %}
    
        {{ view.content }}
    
        {% endif %}
        {% endfor %}
      
      {{ content }}

      {% include footer.html%}
    </main>
  </div>
</body>

</html>