<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

  {% include head.html %}

  <body>
    
    {% include chest.html %}

    <div id="layout" class="pure-g wrapper">

      <blog-header></blog-header>
      
      <section class="content pure-u-1 pure-u-md-3-4">

        <blog-page v-bind="activeView">
          {{ content }}
        </blog-page>

        <blog-footer></blog-footer>

      </section>

    </div>

    {% include foot.html %}
    
  </body>
</html>
